<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <style>
        input {
            border : 1px solid #333;
            border-style: inset;
            width : 200px;
            padding : 10px;
            background-color: #fff;
        }
    </style>
</head>
<body>
    <form method="post">
        <label>이메일</label><span style="color : #f00" class=""warning></span> </br>
        <input type="text" class="email" name="email"> </br>
        <label>비밀번호</label></br>
        <input type="password" class="passwd" name="passwd">
    </form>
    <script>   
        let email = document.querySelector(".email")
        let passwd = document.querySelector(".passwd");
        function emailCheck() {
            if(!email.value) {
                document.querySelector(".warning").innerHTML="이메일을 입력하세요";
                email.focus();

            }else {
                let emailValue = email.value;

                $.ajax({
                    type: "post",
                    url : "/emailCheck",
                    dataType: "json",
                    data: {emailValue},
                    success : function(result) {
                        console.log(result);
                    },
                    error:function(err) {
                        console.log(err);
                    }
                });
            }
        }
        // passwd.addEventListener(동작, 메소드);
        passwd.addEventListener('focus',emailCheck);
    </script>
</body>
</html>